
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Slides</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
      <ion-slides pager="true" [options]="slideOpts">

        <ion-slide>
          <p>          
            <img src="https://pbs.twimg.com/media/DVNvD9LW0AAkTU8?format=jpg&name=900x900" />
          </p>
        </ion-slide>
        <ion-slide>
          <h1>SLIDE MEDIO</h1>
        </ion-slide>
        <ion-slide>

          <p>          
            <img src="https://pbs.twimg.com/media/DKhQudHX0AACJYe?format=jpg&name=900x900" />
          </p>
        </ion-slide>

      </ion-slides>
  </ion-content>
